.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display:flex;  
  position:relative;
  align-items: center;
}

.header__logo_place_header {
  position:absolute;
  top:30px;
  left:64px;
  z-index: 2;
}

.logo 
{
  width:228px;
  height:32px;
}

.header__title
{
  margin-left:64px;
  width:730px;
  z-index: 2;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__link
{
  color: #2f80ed;
}

.header__subtitle
{
  position:absolute;
  bottom:30px;
  left:64px;
  width:338px;
  z-index: 2;
  line-height: 25px;
  font-size:18px;
  font-weight: normal;
}

.header__main-illustration
{
  position:absolute;
  width:765px;
  height:608px;
  bottom:0;
  right:0;
  z-index: 1;
}





/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position:absolute;
  right:0;
  top:64px;
}


.description
{
  padding-top:100px;
  display:flex;
  flex-wrap: wrap;
}


.two-columns {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  width:80%;
  margin: 0 auto;
}


.two-columns__brief
{
  width:175px;
  line-height: 1.2;
  font-size:18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text
{
  width:80%;
  /* min-width: 784px; */
}

.two-columns__paragraph
{
  margin: 0;
  margin-bottom:30px;
  line-height: 34px;
  font-size:24px;
  font-weight: normal;
}

.two-columns__paragraph_last
{
  margin-bottom:0;
}

.two-columns__span-accent
{
  font-weight: 600;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}


.digits
{
  padding-top:100px;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.digits__section-title
{
  width:60%;
  text-align:center;
}

.digits__section
{
  margin-top:20px;
  width:60%;
  text-align:center;
}

.digits__table
{
  display:flex;
  flex-wrap: wrap;
  width:1100px;
  margin-top:60px;
}

.table__cell
{
  width:250px;
}